.main-title{
    font-weight : 700;
    font-size: 80px;
    letter-spacing : -0.05em;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 100px;
}

.main-h1{
    text-align: center;
    font-weight: 700;
}

.main-h2{
    padding:20px;
    text-align: center;
    color : whitesmoke;
    font-weight: 600;
}

.main-h3{
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color  :rgb(201, 176, 249);
    font-weight : 400;
    
}

.main-divider{
    border : none;
    border-top: 5px solid rgb(201, 176, 249);
    margin: 10px;
    padding: 20px;
    margin-top: 40px;
    padding-bottom: 10px;
}

.main-container{
    margin : auto;
    height:100%;
    width : 60%;
    background-color: rgb(30, 30, 30);
    padding: 40px;
}


a{
    color: rgb(201, 176, 249);
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    background-color: rgb(40, 40, 40);
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
    animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: rgb(201, 176, 249);
}

@keyframes App-logo-spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

.navbar-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav{
    display : flex;
    align-items: center;
    background-color : #1a1a19;
    padding: 30px 25px;
    height : 90px;
    box-shadow: 0px 10px 50px black;

}

.nav-items{
    display : flex;
    list-style : none;
  }

.nav-items > li {
    padding:10px
}
  
.nav-logo_text, .nav-title {
    margin: 0;
}

.link-button{
    font-size: 30px;
    font-weight: 700;
    display : inline-block;
    margin-right: 40px;
    padding: 0.5rem 1rem;
    color : white;
    text-decoration: none;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 600;
}

.link-button-off{
    font-size: 30px;
    font-weight: 700;
    display : inline-block;
    margin-right: 40px;
    padding: 0.5rem 1rem;
    color : rgb(107, 107, 107);
    text-decoration: none;
    border: none;
    border-radius: 0.25rem;
    cursor: default;
    font-weight: 600;
}

.link-button-current{
    font-size: 30px;
    font-weight: 700;
    display : inline-block;
    margin-right: 40px;
    padding: 0.5rem 1rem;
    color: rgb(201, 176, 249);
    text-decoration: none;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-weight: 600;
}

.nav-buttons > button{
    padding-left:20px;
}

.nav-logo_text{
    padding-left:20px;
    margin-right: auto;
    color : white;
    font-weight: 700;
    font-size : 35px;
}

.nav-logo {
    height : 50px;
    margin-right: 7px;
    filter: hue-rotate(60deg);
}

main{
    height : 100%;
    padding: 57px 27px;
    color : white;
}


.input-list{
    padding-left: 0;
}

.input-container{
    display: flex;
    justify-content:space-evenly;
    padding-top: 20px;
    padding-bottom: 0px;
}

.button-container{
    text-align: center;
    min-width: 150px;
}

.button-container > h4{
    text-align: center;
    max-width: 200px;
}

.input-number{
    display: block;
    margin:auto;
    margin-top:35px;
    margin-bottom : 35px;
    font-family: Oxygen, sans-serif;
    color:white;
    border: none;
    font-size : 32px;
    background-color:#313236;
    padding: 10px;
    text-align: center;
}

.form-button-selected{
    text-decoration: none;
    padding: 17px 30px;
    border: none;
    font-size : 40px;
    background-color: rgb(201, 176, 249);
    border-radius: 50%;
    margin : auto;
    cursor:pointer;
}

.form-button-unselected{
    text-decoration: none;
    padding: 17px 30px;
    border: none;
    font-size : 40px;
    color:white;
    background-color: #313236;
    border-radius: 50%;
    margin : auto;
    cursor:pointer;
}

.form-button-selected:hover{
    background-color: rgb(201, 176, 249);
}

.form-button-unselected:hover{
    background-color: rgb(77, 68, 95);
}

.arc-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px;
    padding-top: 250px;
    padding-bottom: 50px;
    height: 150px;
}
.explanation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin : auto;
    min-width: 600px;
}

.exp-h1{
    margin:auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color:#313236 ;
    margin-bottom: 40px;
    overflow: hidden;
  }
  
  .progress{
    display: inline-block;
    height: 100%;
    background-color: rgb(201, 176, 249);
    transition: width 0.5s ease-in-out;
  }